p { /* Changes style of all paragraph elements */
  color: #0000ff;
}

#exampleId { /* Changes style of all elements with id "exampleId" */
  background-color: #0000ff;
}

.exampleClass { /* Changes style of all elements with class "exampleClass" */
  background-color: #ff00bb;
}

p.exampleClass { /* Changes style of all paragraph elements with class "exampleClass" */
  color: #ff00bb;
  background-color: #000000;
}